<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>upform.html</title>

    <style >
        font-family: 'Gowun Dodum', sans-serif;
        #wrap { width:450px; margin:auto }

        #table { border-collapse: collapse; width:100% }
        #th,td { padding:8px; text-align:left;
        border-bottom: 1px solid #ddd;
        }
        tr:hover { background:#f5f5f5; cursor:pointer }
    </style>
</head>

<body>
<div id="wrap">
<h1> survey 수정 </h1>
<form method="post" name="form1">

    <!--사이트 위조 방지 설정이 기본적으로 설정 체크-->
    {% csrf_token%}

    <!--인덱스 번호는 필요 없음

    -->
  <input type="hidden" name="survey_idx" value="{{addq.survey_idx}}">
  <table>
    <tr>
        <td>질문</td>
        <td><input type="text" name="question" value="{{addq.question}}"></td>
    </tr>
    <tr>
        <td>응답1</td>
        <td><input type="text" name="ans1" value="{{addq.ans1}}"></td>
    </tr>
    <tr>
        <td>응답2</td>
        <td><input type="text" name="ans2" value="{{addq.ans2}}"></td>
    </tr>
    <tr>
        <td>응답3</td>
        <td><input type="text" name="ans3" value="{{addq.ans3}}"></td>
    </tr>
    <tr>
        <td>응답4</td>
        <td><input type="text" name="ans4" value="{{addq.ans4}}"></td>
    </tr>
    <tr>
        <td>상태</td>
        <td><input type="text" name="status" value="{{addq.status}}"></td>
    </tr>

    <tr>
        <th colspan="2"> <!--버튼 추가-->
            <input type="button" value="전체 리스트 클릭" action="{% url 'pollapp:list' %}"/>
        </th>
    </tr>
  </table>

</form>
</div>

</body>
</html>