<!DOCTYPE html>
<html lang="ko">

{% load static %}
{% static "" as baseUrl %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">


<head>
    <meta charset="UTF-8">
    <title>success.html</title>
    <style>
        #wrap {width:350px; margin:auto;}
        #wrap image {width:100px; }
    </style>


</head>
<body style="font-family: 'Gowun Dodum', sans-serif;text-align: center;margin-top: 5rem;">
    <h2>설문이 완료되었습니다.</h2>
    <img src="{{ baseUrl }}/img/berry.jpg"
        width="200" height="200"><br>
    <a href="/polls">다시 투표하기</a>
    <span>|</span>
    <a href="results?survey_idx={{survey_idx}}">설문조사 결과 보기</a>
</body>
</html>