  <div class="django_footer">
        <div class="django_footer_button">
            <a href="{% url 'finalapp:service' %}" class="poll_header_nav">
                <span>서비스 소개</span>
             </a>
            <span>|</span>
            <a href="{% url 'finalapp:terms' %}" class="poll_header_nav">
                <span>이용약관</span>
             </a>
        </div>
        <div style="margin-top: 1rem;">
            <h6 class="django_logo">공론장</h6>
            <h8 class="django_logo">contact: tjddnjs2013@gmail.com</h8>
        </div>
    </div>