    <div class="django_header">
          <div>
            <h1 class="django_logo"><a href="{%url 'home' %}">공론장</a></h1>
          </div>

          <div class="poll_header_navbar">
             <a href="{% url 'pollapp:home' %}" class="poll_header_nav">
                <span>설문조사</span>
             </a>
             <a href="{% url 'articleapp:list' %}" class="poll_header_nav">
                <span>게시글방</span>
             </a>
             <a href="{% url 'projectapp:list' %}" class="sungwon_header_nav">
                <span>토론방</span>
             </a>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="poll_header_nav">
                <span>로그인</span>
            </a>
            <a href="{% url 'accountapp:create' %}" class="poll_header_nav">
                <span>회원가입</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="poll_header_nav">
                <span>내페이지</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="poll_header_nav">
                <span>로그아웃</span>
            </a>
            {% endif %}
          </div>
    </div>