{% extends 'base.html' %}

{% block content %}

  <div style="text-align: center; max-width: 500px; margin: 4rem auto; font-family: 'Gowun Dodum', sans-serif;">
    <div class="mb-4">
      <h4>다음 게시글을 삭제하시겠습니까? : {{ target_article.title }}</h4>
    </div>

    <form action="{% url 'articleapp:delete' pk=target_article.pk %}" method="post">
      {% csrf_token %}
<!--      {{ form }}-->
      <input type="submit" value="삭제하기" class="btn btn-danger rounded-pill col-6 mt-3">
    </form>

  </div>

{% endblock %}