{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

    .container {
        padding: 0;
        margin: 0, auto;
    }

    .container a {
        width: 45%;
        max-width: 250px;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
      }

    .container img {
      width: 100%;
      border-radius: 1rem;
    }

</style>
    {% if article_list %}
    <div class="container" style="font-family: 'Gowun Dodum', sans-serif;">
      {% for article in article_list %}
      <a href="{% url 'articleapp:detail' pk=article.pk %}">
        {% include 'snippets/card.html' with article=article %}
      </a>
      {% endfor %}
    </div >
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center" style="font-family: 'Gowun Dodum', sans-serif;">
      <h3>아직 작성된 게시글이 없습니다.</h3>
      <h5>토론방에서 게시글의 카테고리를 먼저 설정할 수 있습니다.</h5>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: center; font-family: 'Gowun Dodum', sans-serif; color:#FFFFFF;">
      <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-4 mt-3">
        게시글 작성하기
      </a>
    </div>

{% endblock %}